## PSR API
------------------------------------
DEV_PSR_API_USERNAME=
DEV_PSR_API_PASSWORD=
DEV_PSR_API_AUTH_URL=
DEV_PSR_API_BASE_URL=

## PSR UI
------------------------------------
# Required UI base URL.
DEV_PSR_UI_BASE_URL=
# Required seeded UI report UUID.
DEV_PSR_UI_PSR_UUID=
DEV_PSR_UI_USERNAME=
DEV_PSR_UI_PASSWORD=
DEV_PSR_UI_LOGIN_URL=

## PSR E2E test data
------------------------------------
# Required seeded E2E report UUID.
DEV_PSR_E2E_PSR_UUID=